.circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 20px;
    flex: 1;
    &::after {
        content:'*all values are totaled starting from July 03, 2018';
        font-style: italic;
        margin: 30px auto 30px 0;
    }
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.circle-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(124, 174, 41, 255);
    color: white;
    font-size: 22px;
    padding: 5px;
}

.circle-title {
    margin-top: 10px;
    color: rgba(124, 174, 41, 255);
    font-weight: bold;
}

.circle-description {
    margin-top: 5px;
    color: gray;
    font-size: 13px;
    padding: 0 5px;
}

.chart-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
}

.total {
    font-size: 20px;
    max-width: 143px;
    text-align: center;
    padding-right: 30px;
    text-transform: uppercase;
    span {
        font-size: 38px;
        font-weight: 600;
    }
}

.chart-container::before {
    content: "";
    position: absolute;
    top: 28%;
    left: 14%;
    right: 0;
    border-top: 2px solid #ebebeb;
    transform: translateY(-60%);
    width: 70%;
}

/* Media Queries */
@media (max-width: 1300px) {
    .chart-container {
        align-items: center;
        &::before {
            content:none
        }
    }
}

@media (max-width: 768px) {
    .circle-container {
        justify-content: center;
    }
    .circle {
        margin-right: 20px;
    }
}

@media (max-width: 576px) {
    .chart-container {
        flex-direction: column;
    }
    .circle-container {
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        margin-top: 40px;
    }
    .circle {
        margin-right: 0;
    }
    .total {
        padding-right: 0;
    }
    .circle-number {
        padding: 20px;
    }
}