.grid {
    display: grid;
    gap: 1em;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    grid-template-columns: 1fr minmax(0, 3fr);
    grid-template-areas: "a h"
                         "a c"
                         "a f";
    height: calc(100vh - 2em);
    width: calc(100vw - 2em);
    margin: 1em;
}
.chart-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    .width-40 {
        flex: 0 1 40vh;
    }
    .width-60 {
        flex: 0 1 60vh;
    }
}